@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: var(--font-geist-mono);
  --font-content: var(--font-geist-sans);
}

@utility container {
  margin-inline: auto;
}

@utility callout {
  a {
    @apply font-medium hover:underline;
  }

  code {
    @apply font-display font-semibold before:content-['`'] after:content-['`'];
  }
}
